.Home {
  .top-static-text {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    line-height: 0;
    margin-top: 50px;
  }
  .text-static {
    display: flex;
    align-items: center;
    font-size: 125px;
    font-weight: bold;
    margin-bottom: 18px;
  }
  .text-static.first {
    justify-content: center;
    display: flex;
    margin-left: 14%;
  }
  .zero-image {
    display: flex;
    align-items: center;
    svg {
      width: 109px;
      height: 108px;
      path{
        fill: #0AEFE9;
      }
    }
  }
  .half-rect-smile{
    height: 100%;
    display: flex;
    align-items: end;
    svg {
        width: 287px;
        height: 63px;
      }
  }
  .text-static.second{
    margin-left: 14%;
  }
  .text-static.third{
    display: flex;
    justify-content: right;
    margin-right: 28%;
  }
  .clinic-vision{
    line-height: normal;
    display: flex;
    justify-content: end;
    margin-right: 13%;
  }
  .clinic-vision .text{
    width: 570px;
    font-size: 14px;
    color: #535353;
    text-align: justify;
  }
  .slider-in-home{
    margin-top: 6.5%;
    margin-bottom: 5%;
  }
  .creative-thinking,
  .what-we-do{
    margin-bottom: 5%;
  }
  .label-thinking{
    font-size: 16px;
    text-transform: uppercase;
  }
  .label-capable{
    font-size: 30px;
    font-weight: bold;
  }
  .left-right-creative{
    display: flex;
    justify-content: space-between;
    .left{
      font-size: 42px;
    width: 70%;
    text-align: justify;
    }
    .right{

    }
    .icon-creative{
      svg{
        width: 240px;
        height: 198px;
      }
    }
  }
  .list-of-todo{
  }
  .to-do-main{
    margin-top: 5%;
    display: flex;
    .right{
      margin-left: 5%;
    width: 20%;
    font-size: 18px;
    }
    .to-do-title{
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10%;
    }
  }
  
}
